.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.modal-content
{
    background-color:#512DA8;
}
.modal-content .modal-title {
    color: white; }
.modal-content .close {
    color: #D1C4E9; }
.modal-content .modal-body {
    background-color: #D1C4E9;}

.footer{
    background-color: rgba(56, 1, 19, 0.747);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.heading
{
    color:white;
}
.jumbotron {
    height: 100vh;
    background-size: cover; 
	background-repeat: no-repeat; 
    position:relative;
    overflow:hidden;
    margin:0px auto;
    color:white;
    /*background-color: black;*/
    background-image: url("../img/jumbo17.png");
    object-fit:cover;
    font-family: 'object-fit: cover;';
    width:100%;    
    opacity:0.8;
}
.btn-sm
{
    margin-left:100px;
}
footer address{
    font-size:80%;
    margin:0px;
    color:white;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    /*background: transparent;*/
     background-color: rgb(218, 8, 78);*/
}
.navbar a:hover{
    text-align:center;
    border-bottom :3px solid whitesmoke;
}
.logo{
    padding-right:250px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:rebeccapurple;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.heading :hover{
    color:black;
    
}

.intro,.test
{
    margin-top:100px;
}
.team
{
    margin-top:100px;
    
}
.team1
{
    background-color: aqua;
}
.teamurl
{
    margin-top:200px;
    font-size: 20px;
    color:crimson;
}
.testimonial
{
    background-color: black;
}
